<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frt.mobile">

    <application>
    <!-- Sua LoginActivity -->
    <activity android:name=".Login.Presetation.LoginActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- As novas Activities Home para professor e aluno -->
    <activity android:name=".Home.Presetation.HomeProfessorActivity" />
    <activity android:name=".Home.Presetation.HomeAlunoActivity" />

    <!-- Outras Activities existentes, como SalasActivity e ReservaActivity -->
    <activity android:name=".Salas.Presetation.SalasActivity" />
    <activity android:name=".Salas.Presetation.ReservasActivity" />
    <activity android:name=".Cadastro.Presetation.CadastroActivity" />

</application>
    </manifest>